<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="stock_m.dao.AdminstockDao">
  
  	
	<insert id ="inserta" >
		insert into
		adminstock(acontent,a_val,a_volume)
		values(#{a_content},#{a_val},#{a_volum})
	</insert>
	
	<select id="admincheck" resultType="int">
		select count(*)
		from adminstock
		where acontent=#{a_content} and a_val=#{a_val}
	</select>
	
	<update id ="updatea">
	 update adminstock set a_volume=#{a_volum} and a_val=#{a_val} where acontent=#{a_content}
	</update>
	
	<select id ="option" resultType="Map">
	select *  from adminstock
	</select>
</mapper>