<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock_m.dao.ProductDao">

	<select id="countProduct" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		FROM product
		INNER JOIN stock ON product.sno = stock.sno
		WHERE (pname LIKE CONCAT('%', #{pname}, '%') OR p_val = #{p_val})
		AND NOT userid IN
		<foreach item="item" index="index" collection="nuserid" open="(" separator="," close=")">
		#{item}
		</foreach>
	</select>
	
	<select id="searchPname" parameterType="java.util.Map" resultType="map">
		SELECT *
		FROM product
		INNER JOIN stock ON product.sno = stock.sno
		WHERE pname LIKE  concat('%',#{pname},'%')
		AND NOT userid IN
		<foreach item="item" index="index" collection="nuserid" open="(" separator="," close=")">
		#{item}
		</foreach>
		limit #{start} , 9
	</select>
	
	<select id="searchP_val" parameterType="java.util.Map" resultType="map">
		select * from product inner join stock on product.sno = stock.sno where p_val = #{p_val} and not userid in 
		<foreach item="item" index="index" collection="nuserid" open="(" separator="," close=")">
		#{item}
		</foreach>
		limit #{start} , 9
	</select>
</mapper>
