<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock_m.dao.QnABoardDao">

    <!-- 게시글 삽입 -->
    <insert id="qnainsert" parameterType="stock_m.dto.QnABoardDto">
        insert into qnaboard(userid, subject, content, regdate, secret, role)
        values( #{userid}, #{subject}, #{content}, now(), #{secret}, (select role from user where userid = #{userid}))
    </insert>

    <!-- 게시글 수정 -->
    <update id="qnaupdate" parameterType="stock_m.dto.QnABoardDto">
        update qnaboard set subject=#{subject}, content=#{content}
        where qnaboardid = #{qnaboardid}
    </update>

    <!-- 조회수 증가 -->
    <update id="qnaaddReadcount" parameterType="int">
        update qnaboard set readcount = readcount + 1 where qnaboardid = #{qnaboardid}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="qnadeleteBoard" parameterType="int">
        delete from qnaboard where qnaboardid = #{qnaboardid}
    </delete>

    <!-- 게시글 목록 조회 -->
    <select id="qnaboardList" parameterType="map" resultType="stock_m.dto.QnABoardDto">
        select * from qnaboard
        order by qnaboardid desc limit #{start}, #{count}
    </select>

    <!-- 게시글 총 개수 조회 -->
    <select id="count" resultType="int">
        select count(*) from qnaboard
    </select>

    <!-- 게시글 단일 조회 -->
    <select id="qnaboardOne" parameterType="int" resultType="stock_m.dto.QnABoardDto">
        select * from qnaboard where qnaboardid = #{qnaboardid}
    </select>

    <!-- 게시글 검색 -->
    <select id="qnasearchboard" parameterType="map" resultType="stock_m.dto.QnABoardDto">
        SELECT * FROM qnaboard
        <where>
            <if test="field != null and field != '' and keyword != null and keyword != ''">
            	<if test="startDate != null and endDate != null">
            	AND regdate BETWEEN #{startDate} AND #{endDate} </if>
                <choose>
                    <!-- 제목으로 검색 -->
                    <when test="field == 'subject'">
                        AND subject LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <!-- 내용으로 검색 -->
                    <when test="field == 'content'">
                        AND content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <!-- 제목과 내용으로 검색 -->
                    <when test="field == 'content_subject'">
                        AND (subject LIKE CONCAT('%', #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%'))
                    </when>

                </choose>
               

            </if>
        </where>
        ORDER BY qnaboard DESC
        LIMIT #{start}, #{count}
    </select>

    
    


</mapper>
